body {
    margin: 0;
    font-family:'Inter'

}
button{
    background-color: white;
    border:2px solid #F4F4F4;
    border-radius: 5px;
    text-align:center;
    margin-top:10px;
    margin-bottom:10px;
}
input{
    background-color:#6943FF;
    border:2 px solid #B295FF;
    border-radius:5 px;
    color:white;
    text-align:center;
    height:60px;
    width:80px;
    font-weight:bolder;
    font-size:larger;
}
#unit{
    text-align:center;
    padding:5px 20px;
    border:5px solid #F4F4F4;
    background-color:white;
    width:90%;
}
#section-1{
    background-color: #6943FF;
    text-align:center;
    margin:-20px;
    padding-top:10px;
}
.container{
    background-color:#F4F4F4;
}
#section-2{
    background-color: #F4F4F4;
    width:50%;
    display:flex;
    flex-direction:column;
    margin-top:10%;
    margin-left:25%;
}
h3{
    text-align:center;
    color:white;
    font-family:'Inter';
}
#unit{
    border-radius:5px;
}